@import 'fonts/index'
@import 'service/index'
.header
  height: 600px

  background: url('~static/img/header-back.png')
  &-head
    width: 100%
    padding-top: 20px
  &-logo
    &__description
      margin-left: 20px
  &-content
    height: 100%
    margin-top: 10px
    .description
      &-head
        margin-bottom: 1em
      &-content
        margin: 1em 0
  &-btn
    padding: 10px 75px

    border-radius: 10px
    background-color: #0894ed
    box-shadow: 0 3px 8px 1px rgba(46, 41, 42, 0.31)
