.shks
  margin-top: 3em
  margin-bottom: 80px
  &-sort
    flex-wrap: wrap
    @media screen and (max-width: 600px)
      font-size: 0.9em
      &__label
        width: 100%
      &__item
        font-size: 10px
    &__item:not(:last-child), &__label:not(:last-child)
      margin: .5em
      padding: .5em
    &__item
      display: flex
      align-items: center

      cursor: pointer
      user-select: none
  &-content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @media screen and (max-width: 600px)
      justify-content: center
.shk
  position: relative

  width: 300px
  height: 450px

  cursor: pointer

  border-radius: 10px
  background-color: #ffffff
  box-shadow: 0 2px 11px 1px rgba(133, 156, 179, 0.13)
  &-img
    overflow: hidden

    border-radius: 10px 10px 0 0
  &-title
    margin: 1em 0 !important
  &-address
    margin: 1em 0 !important

    line-height: 1.5
  &-cost
    margin: 1em 0 !important
  &__sale
    position: absolute
    top: 10px
    left: -16px
  &-price
    position: absolute
    top: 100%
    right: 0

    margin-bottom: 100%

    font-size: 13px
  &-ref
    position: absolute
    right: 20px
    bottom: 20px
  &-content
    padding: 10px
    > *
      margin: 10px 0
  .calc_card
    transform: rotateY(180deg)
    &__divider
      width: 40%
      height: 5px

      border-radius: 3px
      background-color: #ffffff
    > *
      margin: 15px 0
    &__btn
      padding: 15px 40px

      border-radius: 10px
      background-color: #0894ed
  &-back
    width: 300px
    height: 450px
    padding-top: 70px
    padding-bottom: 38px

    cursor: pointer

    border-radius: 10px
    &__image
      display: flex
      justify-content: center

      margin-bottom: 30px
    &__title
      margin-bottom: 20px
    &__divider
      display: block

      width: 40%
      height: 5px

      border-radius: 3px
      background-color: #ffffff
    &__description
      margin-bottom: 80px
      padding-top: 20px
    &__btn
      display: block

      width: max-content
      padding: 15px 40px

      border-radius: 10px 
      background-color: #0894ed
